* {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:none;
    text-decoration:none;
    outline:none;
    font-family:inherit;
    box-sizing:border-box;
  }

ol, ul, li {
  list-style:none;
  display:block;
}
a img {
    border: none;
}
button, a {
    cursor: pointer; color: inherit;
}

textarea {
    resize: none;
}
button, input, textarea, select {
    appearance: none !important; 
    -webkit-appearance: none !important;
    border-radius: 0;
}

body {
    background-image: url("/src/background.png");
    background-repeat: space;
    background-size: 15px;
    background-color:#FECEAB;

}

#title {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #99B898;
}

#title h2 {
    position: relative;
    text-align: center;
    
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
}

#input {
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    
    background-color: #2A363B;
}

#input h2 {
    position: relative;
    margin-bottom: 10px;
    
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    color: #99B898;
}

#maxnumber {
    width: 60px;
    height: 30px;
    font-size: 25px;
    
    color: #E84A5F;
    background-color: floralwhite;
}

#numberbutton {
    padding: 2px;
    border-radius: 2px;

    font-size: 20px;
    color: #2A363B;
    background-color: #99B898;
}


#root {
    display: flex;
    flex-wrap: wrap;             
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color:  #FF847C;
    
}

.card {
    width: 50px;
    height: 70px;
    margin: 10px;
    border-radius: 5px;

    background-color:  #FECEAB;
}

.card h1 {
    position: relative;
    text-align: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    color: #2A363B;
}

.imagine {
    display: none;
}

.card:hover {
    background-color: #E84A5F;
    /*transform: scaleX(-1);*/
}

.card:hover > h1 {
    display:none;
}

.card:hover > .imagine {
    display: block;
    height: 40px;
    position: relative;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.notwin{
    display: none;
}


.win {
    position: fixed;
    display: block;
    text-align: center;
    width: 50vh;
    padding: 20px;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    background-color: #99B898;
}

#winbutton {
    width: 60px;
    height: 30px;

    font-size: 20px;
    background-color: #E84A5F;
}
